extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-6
        h2.form-signin-heading.py-2 Log in
        +formFor(f, { url: urlFor('session_enter'), method: 'post' })
            +input(f, 'email')
            +input(f, 'password', { as: 'password' })
            +button(f, 'Confirm')