extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-6
        h2.form-signin-heading Log in
            +formFor(f, { url: urlFor('session'), method: 'post' })
                +input(f, 'E-mail')
                +input(f, 'Password', { as: 'password' })
                +button(f, 'Confirm')