mixin smallField(options = { label: "", value: "" })
    .row.my-2
        .col-3.text-nowrap.py-1
            b.text-muted=options['label']
        .col-9.text-nowrap.card.card-outline-secondary.py-1= options['value']

mixin bigField(options = { label: "", value: "" })
    .row.mt-2
        .col-3.text-nowrap.py-1
            b.text-muted=options['label']
    .row
        .col-12.card.card-outline-secondary.py-1= options['value']