extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-4
        h2.form-signin-heading.py-4.text-center Edit Task
        +formFor(f, 'form-signin', { url: urlFor('tasks#update', { id }), method: 'post' })
            +input(f, 'name', { label: 'Title' })
            +input(f, 'tags', { label: 'Tags', valueFormatter: formatTags })
            +select(f, 'statusId', {
              collection: statuses,
              defaultOption: f.object.statusO,
              defaultId: f.object.statusId,
              label: 'Status',
              property: 'name'
            })
            +select(f, 'assignedToId', {
              collection: users,
              defaultOption: f.object.assignee,
              defaultId: f.object.assignedToId,
              label: 'Assigned to',
              property: 'fullName'
            })
            +textarea(f, 'description', { label: 'Description' })
            input(type='hidden' name='taskId' value= f.object.id)
            .row.form-group.mt-5
                +returnButton({path: 'tasks#show', id, label: 'Cancel', isOverride: true })
                +confirmButton(f, 'Save', { method: 'patch' })