extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-6
        h2.form-signin-heading.py-2 New Task
        +formFor(f, 'form-signin', { url: urlFor('task_save'), method: 'post' })
            +input(f, 'name')
            +input(f, 'tags')
            +textarea(f, 'description')
            +select(f, 'assignedToId', users, creator, creatorId)
            +button(f, 'Confirm')
