extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center
        .py-4
            h2.text-center Task details
    .container.col-4
        +smallField({ label: 'Task ID', value: formatId(task.id, 6) })
        +smallField({ label: 'Status', value: task.status })
        +smallField({ label: 'Title', value: task.name })
        +smallField({ label: 'Tags', value: formatTags(task.tags) })
        +smallField({ label: 'Created at', value: formatDate(task.createdAt) })
        +smallField({ label: 'Created by', value: task.creator })
        +smallField({ label: 'Assigned to', value: task.assignedTo })
        +bigField({ label: 'Description', value: task.description })
        .row.form-group.mt-5
            +editButton({target: 'task', id: task.id, label: 'Edit task'})
            +deleteButton({target: 'task', id: task.id, label: 'Delete task'})
