extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-4
        h2.form-signin-heading.py-4.text-center Edit Profile
        +formFor(f, 'form-signin', { url: urlFor('users#update', { id }), method: 'post' })
            +input(f, 'email', { label: 'E-mail' })
            +input(f, 'firstName', { label: 'First name' })
            +input(f, 'lastName', { label: 'Last name' })
            +input(f, 'password', { as: 'password', label: 'Password' })
            input(type='hidden', name='_method' value='patch')
            +button(f, 'Save', { style: 'btn-success' })