extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-6
        h2.form-signin-heading.py-2 Update
        +formFor(f, 'form-signin', { url: urlFor('user_update', { id }), method: 'post' })
            +input(f, 'email')
            +input(f, 'firstName')
            +input(f, 'lastName')
            +input(f, 'password', { as: 'password' })
            input(type='hidden', name='_method' value='patch')
            +button(f, 'Save')