extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center
        .py-4
            h2.text-center Users directory
    .container.col-8
        table.table.table-stripped
            thead
                tr
                    th.col-xs-1.text-nowrap ID
                    th.col-xs-4.text-nowrap Full Name
                    th.col-xs-4.text-nowrap Email
                    th.col-xs-3.text-nowrap Created At
            tbody
                each user in users
                    tr
                        td
                            a(href=urlFor('users#show', { id: user.id }))= formatId(user.id)
                        td.text-nowrap= user.fullName
                        td.text-nowrap= user.email
                        td.text-nowrap= formatDate(user.createdAt)