extends /layouts/application.pug

block content
    table.table.table-stripped
        thead
            tr
                th ID
                th Full Name
                th Email
                th Created At
        tbody
            each user in users
                tr
                    td= user.id
                    td= user.fullName
                    td= user.email
                    td= dateFormat(user.createdAt)