extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-4
        h2.form-signin-heading Please sign in
        +formFor(f, 'form-signin', { url: urlFor('users'), method: 'post' })
            +input(f, 'E-mail')
            +input(f, 'First name')
            +input(f, 'Last name')
            +input(f, 'Password', { as: 'password' })
            +button(f)
