extends /layouts/application.pug

block content
    .container.align-content-center.justify-content-center.col-lg-6
        h2.form-signin-heading Please fill in the registration form
        +formFor(f, 'form-signin', { url: urlFor('user_save'), method: 'post' })
            +input(f, 'E-mail')
            +input(f, 'First name')
            +input(f, 'Last name')
            +input(f, 'Password', { as: 'password' })
            +button(f, 'Confirm')
