extends /layouts/application.pug

block content
    if isSignedIn()
        .container.align-content-center.justify-content-center
            .py-4
                - const usersProfileTitle = `${user.fullName}'s profile`
                h2.text-center= usersProfileTitle
        .container.col-4.mt-4
            +smallField({ label: 'Full name', value: user.fullName })
            +smallField({ label: 'E-mail', value: user.email })
            +smallField({ label: 'ID', value: formatId(user.id, 3) })
            if isOwner
                .row.form-group.mt-5
                    +editButton({ target: 'user', id: user.id, label: 'Edit profile' })
                    +deleteButton({ target: 'user', id: user.id, label: 'Delete account' })